* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2c2929;
}

.card {
  width: 90%;
  max-width: 500px;
  background-color: #cc322a;
  color: #555;
  margin: 115px auto 0; /* auto 0 centers it horizontally */
  border-radius: 20px; /* round the corners */
  padding: 30px 20px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #e6d596;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px; /* makes it pretty and round */
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #e6d596;
  border-radius: 50%; /* circle */
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 48px;
}

.sprite_container {
  width: 90%;
  max-width: 500px;
  background-color: #a7b9d3;
  color: #555;
  margin: 25px auto 0; /* auto 0 centers it horizontally */
  border-radius: 20px; /* round the corners */
  padding: 30px 20px;
  text-align: center;
}

.stat_container {
  width: 90%;
  max-width: 500px;
  background-color: #e6d596;
  margin: 25px auto 0; /* auto 0 centers it horizontally */
  border-radius: 20px; /* round the corners */
  padding: 30px 20px;
  text-align: center;
}

#poke-sprite-regular {
  width: 170px;
  height: 170px;
  image-rendering: pixelated;
}

#poke-sprite-shiny {
  width: 170px;
  height: 170px;
  image-rendering: pixelated;
}

.pokemon h1 {
  font-size: 80px;
  font-weight: 500;
  color: #403b80;
}

.details_row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 50px;
}

.details_row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 35px;
}

p {
  font-size: 16px;
  color: #08720c;
}

h2 {
  color: #180dac;
}

/* 
.pokemon {
  display: none; /* Hides all pokemon info, this is overridden in the JS in the HTML file with the line: document.querySelector(".pokemon").style.display = "block"; When a pokemon is searched, JS blocks this class's CSS properties, thus displaying the info */
/* } */

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}
